body {
    background-color: darkolivegreen;
    font-family: Arial, Helvetica, sans-serif;
}

#Recipe-title {
color:black;
text-align: center;
}

.Recipe-class {
    color: white;
}

#cookies {
    height: 300px;
    width: autopx;
    text-align: center;
}

#meat-sauce {
    height: 300px;
    width: autopx;
}

#soup {
    height: 300px;
    width: auto;
}

.main {
    text-align: center;
    font-size: 50px;
}

.subhead.para {
    text-align: center;
}
